@font-face {
    font-family: 'Muli';
    src: url('muli/muli.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#images img {
	width: 100px;
	height: 100px;
	margin: 15px;
	padding: 15px;
}

#images .select {
	margin: 14px;
	padding: 14px;
	border: 2px solid yellow;
}

.hide {
	display: none;
}

#header {
	text-align: center;
	font-family: 'Muli';
	font-size: 18px;
	margin-bottom: 18px;
}

#header img {
	width: 50%;
}

.col-4 {
	width: 25%;
	float: left;
}

.col-4 img {
	width: 90%;
}