html,
body,
#app {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css?family=Raleway");
.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #f6fcfb;
  font-family: Raleway, 'sans-serif';
  color: #303a40;
}
.App * {
  box-sizing: border-box;
}
.button-wrapper:focus {
  outline: none;
}
.button-wrapper .button {
  display: inline-flex;
  cursor: pointer;
  padding: 1em;
  font-size: 1em;
  border-radius: 2em;
  min-width: 5em;
}
.button-wrapper .button .btn-text {
  margin: auto;
}
.button-wrapper .button[disabled] {
  cursor: not-allowed !important;
}
.button-wrapper .xs {
  font-size: 0.8em;
  padding: 0.8em;
}
.button-wrapper .sm {
  font-size: 0.9em;
  padding: 0.9em;
}
.button-wrapper .md {
  font-size: 1em;
  padding: 1em;
}
.button-wrapper .lg {
  font-size: 1.1em;
  padding: 1.1em;
}
.button-wrapper .xl {
  font-size: 1.2em;
  padding: 1.2em;
}
.button-wrapper .primary {
  background-color: transparent;
  border: 1px solid #43bfa5;
  color: #43bfa5;
}
.button-wrapper .primary.active,
.button-wrapper .primary[disabled] {
  background-color: #ecf9f6;
}
.button-wrapper .secondary {
  background-color: #43bfa5;
  border: 1px solid rgba(67,191,165,0.5);
  color: #fff;
}
.button-wrapper .secondary.active,
.button-wrapper .secondary[disabled] {
  background-color: #56c5ae;
}
.input-dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
}
.input-dropdown .input-dropdown-label {
  position: absolute;
  color: #637884;
  font-size: 0.8em;
  top: -10px;
}
.input-dropdown .input-dropdown-label.is-active {
  color: #43bfa5;
}
.input-dropdown .input-dropdown-text {
  height: 35px;
  padding-top: 8px;
  border-bottom: 1px solid #637884;
}
.input-dropdown .input-dropdown-text.placeholder {
  color: #a4b2bb;
}
.input-dropdown .input-dropdown-text:focus,
.input-dropdown .input-dropdown-text outline none,
.input-dropdown .input-dropdown-text .icon {
  float: right;
}
.dropdown-container {
  position: absolute;
  z-index: 10000;
}
.dropdown-container.full-width {
  width: 100%;
}
.dropdown-container .dropdown-wrapper {
  background: #fff;
  position: relative;
  margin: 0;
  padding: 0;
}
.dropdown-container .dropdown-wrapper:focus {
  outline: none;
}
.dropdown-container .dropdown-wrapper.hide {
  -webkit-transition: max-height 0.4s ease;
  max-height: 0px;
  overflow: hidden;
}
.dropdown-container .dropdown-wrapper.show {
  -webkit-transition: max-height 0.4s ease;
  height: auto;
  max-height: 10em;
  overflow: hidden;
  overflow-y: scroll;
}
:focus {
  outline: none;
}
.row {
  float: left;
  position: relative;
  width: 100%;
}
.col-1 {
  width: 8.333333333333334%;
  float: left;
  padding: 0.8em;
}
.col-1.center {
  text-align: center !important;
}
.col-1.right {
  text-align: right !important;
}
.col-1.middle {
  margin: auto !important;
}
.col-2 {
  width: 16.666666666666668%;
  float: left;
  padding: 0.8em;
}
.col-2.center {
  text-align: center !important;
}
.col-2.right {
  text-align: right !important;
}
.col-2.middle {
  margin: auto !important;
}
.col-3 {
  width: 25%;
  float: left;
  padding: 0.8em;
}
.col-3.center {
  text-align: center !important;
}
.col-3.right {
  text-align: right !important;
}
.col-3.middle {
  margin: auto !important;
}
.col-4 {
  width: 33.333333333333336%;
  float: left;
  padding: 0.8em;
}
.col-4.center {
  text-align: center !important;
}
.col-4.right {
  text-align: right !important;
}
.col-4.middle {
  margin: auto !important;
}
.col-5 {
  width: 41.66666666666667%;
  float: left;
  padding: 0.8em;
}
.col-5.center {
  text-align: center !important;
}
.col-5.right {
  text-align: right !important;
}
.col-5.middle {
  margin: auto !important;
}
.col-6 {
  width: 50%;
  float: left;
  padding: 0.8em;
}
.col-6.center {
  text-align: center !important;
}
.col-6.right {
  text-align: right !important;
}
.col-6.middle {
  margin: auto !important;
}
.col-7 {
  width: 58.333333333333336%;
  float: left;
  padding: 0.8em;
}
.col-7.center {
  text-align: center !important;
}
.col-7.right {
  text-align: right !important;
}
.col-7.middle {
  margin: auto !important;
}
.col-8 {
  width: 66.66666666666667%;
  float: left;
  padding: 0.8em;
}
.col-8.center {
  text-align: center !important;
}
.col-8.right {
  text-align: right !important;
}
.col-8.middle {
  margin: auto !important;
}
.col-9 {
  width: 75%;
  float: left;
  padding: 0.8em;
}
.col-9.center {
  text-align: center !important;
}
.col-9.right {
  text-align: right !important;
}
.col-9.middle {
  margin: auto !important;
}
.col-10 {
  width: 83.33333333333334%;
  float: left;
  padding: 0.8em;
}
.col-10.center {
  text-align: center !important;
}
.col-10.right {
  text-align: right !important;
}
.col-10.middle {
  margin: auto !important;
}
.col-11 {
  width: 91.66666666666667%;
  float: left;
  padding: 0.8em;
}
.col-11.center {
  text-align: center !important;
}
.col-11.right {
  text-align: right !important;
}
.col-11.middle {
  margin: auto !important;
}
.col-12 {
  width: 100%;
  float: left;
  padding: 0.8em;
}
.col-12.center {
  text-align: center !important;
}
.col-12.right {
  text-align: right !important;
}
.col-12.middle {
  margin: auto !important;
}
@media screen and (max-width: 48em) {
  .col-1 {
    width: 25%;
  }
  .col-2 {
    width: 25%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 50%;
  }
  .col-5 {
    width: 50%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-11 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
}
@media screen and (max-width: 30em) {
  .col-1 {
    width: 50%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-11 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
}
.icon {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent;
  color: #303a40;
  pointer-events: none;
}
.icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}
.input-container {
  width: 100%;
  position: relative;
}
.input-container input {
  font-family: Raleway, 'sans-serif';
  padding: 0;
  margin: 0;
  background: transparent;
  width: 100%;
  font-size: 1em;
  height: 35px;
  border: none;
  border-bottom: 1px solid #637884;
  display: block;
}
.input-container input.error {
  border-bottom: 1px solid #ff4b38 !important;
}
.input-container input:focus {
  outline: none;
}
.input-container input::placeholder {
  color: #a4b2bb;
}
.input-container label {
  color: #637884;
  font-size: 1em;
  display: block;
  position: absolute;
  top: 9px;
  left: 1px;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.input-container label.error {
  color: #ff4b38 !important;
}
.input-container .text-input:focus ~ label,
.input-container .label.floating-label {
  font-size: 0.8em;
  top: -10px;
}
.input-container .text-input:focus ~ label {
  color: #43bfa5;
}
.input-container .text-input:focus ~ label.error {
  color: #ff4b38 !important;
}
.input-container .text-input:focus+.underline {
  transform: scale(1);
}
.input-container .underline {
  position: relative;
  display: block;
  margin-top: -1px;
  height: 2px;
  width: 100%;
  background-color: #43bfa5;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-container .underline.error {
  background-color: #ff4b38 !important;
}
.menu-item {
  background: #fff;
  cursor: pointer;
  padding: 0.8em;
  display: block;
  list-style: none;
}
.menu-item.disabled {
  color: #a4b2bb;
  cursor: not-allowed;
}
.menu-item.active,
.menu-item:hover {
  background-color: #dde2e5;
}
.menu-item.selected {
  color: #43bfa5;
}
.shadow {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: #a4b2bb 0px 1px 6px, #a4b2bb 0px 1px 4px;
}
.test-page-wrapper {
  width: inherit;
  height: inherit;
  overflow: inherit;
  overflow-y: inherit;
  position: relative;
  display: block;
}
.test-page-wrapper .tile:focus {
  background: #fff;
}
/*# sourceMappingURL=src/index.css.map */