.view-wrapper
  text-align center
  width 100%

#header
	text-align center
	font-family 'Muli'
	font-size 18px
	margin-bottom 18px

#info img
  width 50%

#images img
	width 100px
	height 100px
	margin 15px
	padding 15px

.med
	width 20%
	float left

.med img 
	width 90%
