.nav-link
  -webkit-tap-highlight-color rgba(0,0,0,0)
  text-decoration none
  border none
  background transparent
  padding .3em 0
  cursor pointer
  color $primary-lighter !important
  font-size $xs
  width 100%
  &.active
    color $white !important
    border-bottom 2px solid $white
  &:hover
    color $white !important
