.preference-selector-wrapper
  width 100%
  max-width 350px
  margin 1em 0

  .content-wrapper
    display flex
    flex-direction row
    flex-wrap noWrap

    .icon-wrapper
      flex 0 0 50%
      height 100px
      width 75px

    .content
      flex 0 0 50%

      .description
         font-size 10px
         padding .5em 0



  .button-wrapper
    display flex
    flex-direction row
    justify-content space-around
