$primary = #4ECAC2
$primary-light = lighten($primary, 30%)
$primary-lighter = lighten($primary, 60%)
$primary-lightest = lighten($primary, 90%)
$primary-dark = darken($primary, 10%)
$primary-darker = darken($primary, 20%)
$primary-darkest = darken($primary, 30%)
$main-font = #303a40
$main-font-light = lighten($main-font, 30%)
$main-font-lighter = lighten($main-font, 60%)
$main-font-lightest = lighten($main-font, 90%)
$main-font-dark = darken($main-font, 10%)
$main-font-darker = darken($main-font, 20%)
$main-font-darkest = darken($main-font, 30%)
$white = #fff
$black = black
$error = #FF4B38

$baseFontSize = 1em

$xs = $baseFontSize * .8;
$sm = $baseFontSize * .9;
$md = $baseFontSize
$lg = $baseFontSize * 1.1;
$xl = $baseFontSize * 1.2;

$media-small = 480px
$media-medium = 768px
$media-large = 1024px
$media-xlarge = 1440px

$box-shadow = $main-font-lighter 0px 1px 6px, $main-font-lighter 0px 1px 4px;

@import url('https://fonts.googleapis.com/css?family=Raleway')
