setSize(size)
  font-size size
  padding size

.button-wrapper
  &:focus
    outline none

  .button
    display inline-flex
    cursor pointer
    padding $baseFontSize
    font-size $baseFontSize
    border-radius 2em
    min-width 5em
    .btn-text
      margin auto
    &[disabled]
      cursor not-allowed!important

  .xs
    setSize $xs

  .sm
    setSize $sm

  .md
    setSize $md

  .lg
    setSize $lg

  .xl
    setSize $xl

  .primary
    background-color transparent
    border 1px solid $primary
    color $primary
    &.active,
    &[disabled]
      background-color lighten($primary, 90%)

  .secondary
    background-color $primary
    border 1px solid alpha($primary, .5)
    color $white
    &.active,
    &[disabled]
      background-color lighten($primary, 10%)
