.dialog-container
  top 0
  position absolute
  display flex
  justify-content center
  align-items center
  z-index 1000
  width 100vw
  height 100vh
  background-color rgba(0, 0, 0, 0.2)

  &.hide
    height 0
    width 0
    opacity 0

  .content-wrapper
    z-index 1100
    max-width 650px
    max-height 500px
    overflow scroll
    background $white
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;

    &.hide
      height 0
      width 0
      opacity 0

    &.show
      height auto
      width auto
