.input-container
  width 100%
  position relative
  height 72px

  .error-message
    width inherit
    position: absolute;
    bottom: 3px;
    font-size: 12px;
    color $error

  input
    font-family Raleway, 'sans-serif'
    padding 0
    position absolute
    top 15px
    margin 0
    background transparent
    width 100%
    font-size $md
    height 35px
    border none
    border-bottom 1px solid $main-font-light
    display block
    &.error
      border-bottom 1px solid $error !important
    &:focus
      outline none
    &::placeholder
      color $main-font-lighter

  label
    width inherit
    height 15px
    color $main-font-light
    font-size $md
    display block
    position: absolute;
    top 25px;
    left: 1px;
    pointer-events none
    transition 0.2s ease all
    -moz-transition 0.2s ease all
    -webkit-transition 0.2s ease all

  .text-input:focus ~ label,
  .label.floating-label
    font-size $xs
    top 0;
  .text-input:focus ~ label
    color $primary

  .text-input:focus+.underline
    transform scale(1)

  .underline
    position absolute
    top 49px
    display block
    height 2px
    width 100%
    background-color $primary
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    &.error
      background-color $error !important
