.login-form-wrapper
  background $white
  width 100%
  max-width 400px
  line-height $xl
  display flex
  flex-direction column

  .section
    width 100%

  .sub-header
    padding-top $xs

  .link
    line-height 2em
    margin-left $xs
    margin-right $xs

  .forgot-password
    padding-top $xs
    padding-bottom $xs
