.login-form-wrapper
  background $white
  width 100%
  max-width 400px
  line-height $xl
  display flex
  flex-direction column

  .section
    width 100%

  .link
    line-height 2em
    margin-left .5em
    margin-right .5em

  .forgot-password
    padding-top .5em
    padding-bottom .5em
