$main-font = #60757F
$main-background = #F2FFFC
$primary = #43bfa5
$white = #fff
$black = black

$baseFontSize = 1em

xs = $baseFontSize * .7;
sm = $baseFontSize * .85;
md = $baseFontSize
lg = $baseFontSize * 1.15;
xl = $baseFontSize * 1.3;

media-small = 30em; // 480px
media-medium = 48em; // 768px
media-large = 64em; //1024px
media-xlarge = 90em; //1440px

@import url('https://fonts.googleapis.com/css?family=Raleway')
