[data-tooltip]
  position relative
  z-index 2
  &:before,
  &:after
    visibility: hidden;
    opacity: 0;
    pointer-events: none
    transition: opacity .3s linear;

  &:before
    position: absolute;
    bottom: 150%;
    margin-bottom: 5px;
    margin-left: -25px;
    padding: $xs;
    width: 100px;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    background-color: $main-font-light
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: $xs;

  &:after
    position: absolute;
    bottom: 150%;
    margin-left 30px
    border-top: 5px solid $black;
    border-top: 5px solid $main-font-light
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;

  &:hover:before,
  &:hover:after
    visibility: visible;
    opacity: 1;
